.profile-container {
  max-width: none !important;
  display: flex;
  flex-direction: column;
  background-image: url(../pictures/abstract/large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200vh;
}

.profile-card {
  margin: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 2rem;
  top: 4rem;

  background-color: rgba(99, 99, 99, 0.5);
  z-index: 100;
}
